<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB_l4ZUGwBhyn5H5iAkVEN1FQ3y9xxz9rA</string>
	<key>GCM_SENDER_ID</key>
	<string>451927228049</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sangau.peraccountant</string>
	<key>PROJECT_ID</key>
	<string>peraccount-2ee0e</string>
	<key>STORAGE_BUCKET</key>
	<string>peraccount-2ee0e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:451927228049:ios:e3757bbab0aa1c48088930</string>
</dict>
</plist>